<div class="row">
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[0]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[1]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[2]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[3]"></app-shire>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[4]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[5]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[6]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[7]"></app-shire>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[8]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[9]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[10]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[11]"></app-shire>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[12]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[13]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[14]"></app-shire>
    </div>
    <div class="col-3">
        <app-shire [map]="map" [shire]="shires[15]"></app-shire>
    </div>
</div>