<div class="form-group" style="border:1px solid black;">

    <div class="form-group">
        <label >id: {{shire._id}}</label>
    </div>

    <div class="form-group">
        <label for="happiness">Happiness</label>
        <input id="happiness" [(ngModel)]="shire.Happiness" type="number" class="form-control" min="0" max="100">
    </div>

    <div class="form-group">
        <label for="population">Population</label>
        <input id="population" [(ngModel)]="shire.Population" type="number" class="form-control" min="0">
    </div>

    <div class="form-group">
        <label for="cows">Cows</label>
        <input id="cows" [(ngModel)]="shire.Cows" type="number" class="form-control" min="0">
    </div>





</div>