<ngb-tabset orientation="horizontal">

    <ngb-tab title="Inventory">
        <ng-template ngbTabContent>
            <app-inventory [inventory]="game.inventory"></app-inventory>

        </ng-template>
    </ngb-tab>
    
    <ngb-tab title="Armory">
        <ng-template ngbTabContent>
            <app-armory [armory]="game.armory"></app-armory>

        </ng-template>
    </ngb-tab>


    <ngb-tab title="Counties">
        <ng-template ngbTabContent>
            <app-county-list [shires]="game.shires"></app-county-list>

        </ng-template>
    </ngb-tab>

    <ngb-tab title="Armies">
        <ng-template ngbTabContent>
<app-army-list [armies]="game.armies"></app-army-list>

        </ng-template>
    </ngb-tab>

</ngb-tabset>


<hr>


<p>
    <!-- Form Value: {{ profileForm.value | json }} -->
</p>


<p>
    <!-- Form Status: {{ profileForm.status }} -->
</p>

<p>
    <!-- <button (click)="updateProfile()">Update Profile</button> -->
</p>