<ng-container *ngIf="game">

    <ul ngbNav #editor="ngbNav" [(activeId)]="active" class="nav-tabs">

        <li [ngbNavItem]="1">
            <a ngbNavLink>Inventory</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col">
                        <app-inventory [inventory]="game.inventory"></app-inventory>
                    </div>
                    <div class="col">
                        <app-armory [armory]="game.armory"></app-armory>
                    </div>
                </div>
            </ng-template>
        </li>


        <li [ngbNavItem]="2">
            <a ngbNavLink>Counties</a>
            <ng-template ngbNavContent>
                <app-county-list [map]="map" [shires]="game.shires"></app-county-list>
            </ng-template>
        </li>

        <li [ngbNavItem]="3">
            <a ngbNavLink>Armies</a>
            <ng-template ngbNavContent>
                <app-army-list [armies]="game.armies"></app-army-list>
            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="editor" class="mt-2"></div>
    <hr>


    <p>
        <!-- Form Value: {{ profileForm.value | json }} -->
    </p>


    <p>
        <!-- Form Status: {{ profileForm.status }} -->
    </p>

    <p>
        <!-- <button (click)="updateProfile()">Update Profile</button> -->
    </p>
</ng-container>