<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>{{ title }}</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ng-container *ngIf="files.length">
    <select [(ngModel)]="active">
      <option *ngFor="let file of files" [value]="file.hash">
        {{file.file.name}}
      </option>
    </select>
  </ng-container>

  <div class="spacer"></div>
  <nav>
    <ul>

      <li><a routerLink="/edit">Edit</a></li>
      <li><a routerLink="/diff" routerLinkActive="active">Raw</a></li>
      <li><a routerLink="/tree">Tree</a></li>
    </ul>
  </nav>
  <div class="spacer"></div>
  <div *ngIf="fileUrl" style="margin-right:25px;margin-top:5px;">
      <a [href]="fileUrl" download="{{name}}">
        <fa name="download" inverse="true" size="2x"></fa>
      </a>
    </div>

    <div *ngIf="!name" style="margin-right:25px;margin-top:5px;">
      <a (click)="loadDemo()" >
        <fa name="bullhorn" size="2x"></fa>
      </a>
    </div>

  <div *ngIf="name" style="margin-right:25px;margin-top:5px;">
    <a (click)="clearFile()" >
      <fa name="ban" size="2x"></fa>
    </a>
  </div>
  <div *ngIf="name" style="margin-right:25px;margin-top:5px;">
  <a (click)="saveGame()" >
      <fa name="save" size="2x"></fa>
    </a>
  </div>
</div>