<div class="form-group">
    <label>Peasants</label>
    <input  [(ngModel)]="army.peasants" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label>Crossbowmen</label>
    <input  [(ngModel)]="army.crossbow" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label>Macemen</label>
    <input  [(ngModel)]="army.mace" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label>Swordsmen</label>
    <input  [(ngModel)]="army.sword" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label>Pikemen</label>
    <input  [(ngModel)]="army.pike" type="number" class="form-control" min="0">
</div>
<div class="form-group">
    <label>Archers</label>
    <input  [(ngModel)]="army.bow" type="number" class="form-control" min="0">
</div>
<div class="form-group">
    <label>Knights</label>
    <input  [(ngModel)]="army.knight" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label>Total</label>
    <input  [value]="army.sum()" type="number" readonly class="form-control" min="0">
</div>
