<div class="form-group">
    <label for="gold">Gold</label>
    <input id="gold" [(ngModel)]="inventory.Gold" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="iron">Iron</label>
    <input id="iron" [(ngModel)]="inventory.Iron" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="stone">Stone</label>
    <input id="stone" [(ngModel)]="inventory.Stone" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="wood">Wood</label>
    <input id="wood" [(ngModel)]="inventory.Wood" type="number" class="form-control" min="0">
</div>
