<div class="form-group">
    <label for="crossbow">Crossbows</label>
    <input id="crossbow" [(ngModel)]="Crossbows" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="bow">Bows</label>
    <input id="bow" [(ngModel)]="Bows" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="sword">Swords</label>
    <input id="sword" [(ngModel)]="Swords" type="number" class="form-control" min="0">
</div>

<div class="form-group">
    <label for="mace">Maces</label>
    <input id="mace" [(ngModel)]="Maces" type="number" class="form-control" min="0">
</div>


<div class="form-group">
    <label for="pike">Pikes</label>
    <input id="pike" [(ngModel)]="Pikes" type="number" class="form-control" min="0">
</div>


<div class="form-group">
        <label for="knight">Knights</label>
        <input id="knight" [(ngModel)]="Knights" type="number" class="form-control" min="0">
    </div>
